<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhakti_sangrahalay">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.DashBoardActivity"
            android:exported="true"
            android:showOnLockScreen="true">
            <!--android:theme="@style/AppTheme.NoActionBar"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MoreItemActivity" />
        <activity android:name=".ui.activity.SunderKandActivity" />
        <activity android:name=".activity.AartiDescActivityNew" />
        <activity android:name=".activity.ChalishaDescActivityNew" />
        <activity android:name=".ui.activity.KathaActivity" />
        <activity android:name=".ui.activity.KathaDescActivity" />
        <activity android:name=".ui.activity.VartKathaHomeActivity" />
        <activity android:name=".ui.activity.PauranikKathaHomeActivity" />
        <activity android:name=".ui.activity.MantraActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.SuggestionActivity" />
        <activity android:name=".ui.activity.PanchangActivity" />
        <activity android:name=".activity.DainikCalendarActivity" />
        <activity android:name=".activity.PlaceActivity" />
        <activity android:name=".ui.activity.KundliHomeActivity" />
        <activity android:name=".ui.activity.BirthDetailInputActivity" />
        <activity android:name=".ui.activity.KundliOutputActivity" />
        <service android:name=".service.DownLoadFileServiceNew" />
    </application>

</manifest>